.input-wrapper {
    position: relative;
}

.input-wrapper label {
    display: block;
    font-weight: bold;
}

.input-wrapper input, .input-wrapper textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 2;

    font-size: 12px;

    border-radius: 10px;
    border: none;
    outline: none;

    box-shadow: 0px 4px 7.7px 1px rgba(204, 158, 248, 0.3);

    transition: 0.4s ease all;
    resize: none;
}

.input-wrapper input::placeholder, .input-wrapper textarea::placeholder {
    color: #82809F;
}

.input-error input, .input-error textarea {
    border: 1px solid #ED5775;
}

.input-wrapper .error {
    color: #ED5775;

    z-index: -1;
    transform: translateY(-20px);
    opacity: 0;

    transition: 0.4s ease all;

    margin-left: 3px;
    font-size: 12px;
    font-weight: normal;
    margin-top: 2px;
}

.input-error .error {
    transform: translateY(0px);
    opacity: 1;
}

.drag-and-drop {
    cursor: pointer;

    width: 190px;
    height: 190px;
    background: white;
    padding: 12px;

    border-radius: 10px;
}

.drag-content {
    border: 1px dashed black;
    border-radius: 10px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 12px;
}

.drag-content .hover-arrow {
    padding: 8px 10px;

    border: 1px solid black;
    border-radius: 10px;
}
