@font-face {
    font-family: 'Nuqun';
    src: local('Nuqun'),
    url(fonts/Nuqun.otf);
}

@font-face {
    font-family: 'Sansation';
    src: local('Sansation'),
    url(fonts/Sansation-Light.ttf);
}

h1 {
    font-family: 'Nuqun', serif;
    margin-top: 3vh;
}

p, button, h6, label, input, textarea {
    font-family: 'Sansation', serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(59deg, #EEF2FE 0%, #FBEFFF 100%);
    overflow-x: hidden;
    position: relative;

    height: 100%;
}

header {
    padding-top: 3vh;
}

.container {
    margin: 0px auto;
    max-width: 1540px;
    padding: 0px 20px;
}

.logo {
    width: 15vh;
    height: 100px;
}

.first-row {
    position: relative;
    height: 8vh;
}

.first-row img {
    object-fit: cover;
    position: absolute;
    top: max(-15vh, -170px);
    right: 0px;
}

h1 {
    font-size: 64px;
    font-weight: lighter;
}

.second-content {
    flex-basis: 100%;
    flex-grow: 1;
}

.second-row {
    margin-top: 2.5vh;
    display: flex;
    column-gap: 20px;
}

.second-row p {
    font-size: 12px;
    max-width: 350px;
    margin-top: 10px;
}

.second-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    margin-right: auto;
}

.thirty-text {
    justify-content: space-between;
    display: flex;
}

.some-image {
    width: 430px;
    position: relative;
}

.some-image img {
    position: absolute;
    top: 0px;
    left: 35px;
}

.thirty-row {
    margin-top: 4vh;
}

.thirty-row h6 {
    font-size: 24px;
    font-weight: lighter;
}

.thirty-row-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.row-c-tasks {
    position: relative;
}

.tasks-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tasks-calendar {
    position: absolute;
    bottom: -30px;
    right: -50px;
}

.tasks-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.tasks-content img{
    width: 100%;
}

.content-actions {
    margin-top: auto;
}

.info-section {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.actions {
    margin-top: 35px;
    display: flex;
    column-gap: 15px;
}

.actions button {
    width: 280px;
    height: 75px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: lighter;
}

#auth {
    background: #CC99F8;
    color: #3B4882;
    font-weight: lighter;
}

#questionnaire {
    background: #3B4882;
    color: white;
    font-weight: lighter;
}
