version: '3.9'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/webserver.conf:/etc/nginx/conf.d/webserver.conf
      - ../application:/var/www/application
      - ../taskadmin:/var/www/taskadmin
      - ../site:/var/www/site
    depends_on:
      - application
      - taskadmin
      - site
    networks:
      - external_network

  application:
    build:
      context: ./application
      dockerfile: Dockerfile
      args:
        USER_ID: ${UID}
        GROUP_ID: ${GID}
    container_name: application
    volumes:
      - ../application:/var/www/application
    environment:
      - DB_HOST=application_db
      - DB_PORT=5432
      - DB_DATABASE=application_db
      - DB_USERNAME=postgres
      - DB_PASSWORD=secret
    depends_on:
      - application_db
    networks:
      - external_network

  taskadmin:
    build:
      context: ./taskadmin
      dockerfile: Dockerfile
      args:
        USER_ID: ${UID}
        GROUP_ID: ${GID}
    container_name: taskadmin
    volumes:
      - ../taskadmin:/var/www/taskadmin
    environment:
      - DB_HOST=taskadmin_db
      - DB_PORT=5432
      - DB_DATABASE=taskadmin_db
      - DB_USERNAME=postgres
      - DB_PASSWORD=secret
    depends_on:
      - taskadmin_db
    networks:
      - external_network

  site:
    image: php:8.3-fpm
    container_name: site
    volumes:
      - ../site:/var/www/site
    networks:
      - external_network

  application_db:
    image: postgres:latest
    container_name: application_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: application_db
    volumes:
      - application_db_data:/var/lib/postgresql/data
    networks:
      - internal_network

  taskadmin_db:
    image: postgres:latest
    container_name: taskadmin_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: taskadmin_db
    volumes:
      - taskadmin_db_data:/var/lib/postgresql/data
    networks:
      - internal_network

volumes:
  application_db_data:
  taskadmin_db_data:

networks:
  internal_network:
  external_network:
    external: true
